extends baseEmail

block content
    p Hola #{firstName},
    p Has recibido este correo para cambiar tu correo electronico, da click en el siguiente boton para cambiarlo al que estas usando en este momento
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
             td(align='left')
                table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                    tbody
                        tr
                            td
                                a(href=`${confirm}`, target='_blank') Confirmar nuevo correo!
    p Si necesitas ayuda con tu cuenta, contactate con nosotros