extends baseEmail

block content
    p Alguien ha realizado un pedido,
    p Recientemente alguien ha realizado un pedido, puedes revisar sus detalles en la seccion de pedidos
    p Contactate con el cliente para acordar el precio del envio o la recoleccion
    p El codigo del pedido nuevo es: #{codigo}
    p 33 1281 6322
    p Correo: mia07joyeria@gmail.com
    p Republica No. 20 LOCAL 7
    p Centro Joyero Republica 
    p Col. SAN JUAN DE DIOS C.P. 44360