extends baseEmail

block content
    p Hola #{firstName},
    p No devolviste el libro '#{confirm}', debes de contactarte con la libreria para arreglar este asunto
    p Si necesitas ayuda con algo mas, contactate con nosotros.