extends baseEmail

block content
    p Hola #{firstName},
    p Has recogido el libro '#{confirm}', revisa los detalles de tu pedido para conocer la fecha limite para devolverlo
    p Si necesitas ayuda con algo mas, contactate con nosotros.