extends baseEmail

block content
    p Hola #{firstName},
    p Has realizado un pedido del libro '#{confirm}', revisa tus pedidos para obtener mas detalles del pedido.
    p Si necesitas ayuda con algo mas, contactate con nosotros.